footer{

  a {
    color: #98cbe8;
    font-weight: bold;
    font-size: 1.5em;
  }

  a:hover {
    text-decoration: none;
    color: #333;
  }

  .footer-top {
    background: #23527c;
    color: #FFF;
    padding:{
      top: 2.5em;
      bottom: 0.5em;
    }
  }

  .footer-bottom {
    background: #333;
    color: #FFF;
    padding: {
      top: 2.5em;
      bottom: 2em;
    }

    a {
      color: #FFF;
    }

    a:hover {
      text-decoration: none;
      color: #FFF;
    }

    .container{
      .row{
      .contact {
      padding: {
        bottom: 1.5em;
      }
      }
    }
    }
  }
}